<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">My Todo-List</a>
    <div class="navbar-nav mr-auto">
      <ul class="nav-item">
      </ul>
      <ul class="nav-item">
        <li>
          <a routerLink="tasks" class="nav-link">Tasks</a>
        </li>
      </ul>
      <ul class="nav-item">
        <li>
          <a routerLink="add" class="nav-link">Add</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

